* {
  --green: #3E8F73;
  --dark-grey: #64748B;
  --light-grey: #F8FAFC;
  --dark-text: #334155;
  --light-grey-button: #CBD5E1;

  font-family: Arial, Helvetica, sans-serif;
  background: var(--light-grey);
}

.green-text {
  color: var(--green);
}

.red-text {
  color: red;
}

.page-header {
  font-size: 25px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 25px;

  &.no-top-margin {
    margin-top: 0;
  }
}

.settings-close {
  width: 100%;
  background: var(--light-grey-button);
  border-radius: 10px 10px 0 0;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
  padding: 10px 15px;
  box-sizing: border-box;
  font-weight: bold;
  color: var(--dark-grey);
}

.App {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 100vh;
  background-color: var(--light-grey);
  overflow: hidden;
  padding: 40px;
  overflow-x: hidden;

  &::after {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 10px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.1), transparent);
  }
}

.App-body {
  height: max-content;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: var(--dark-text);
}

.flex {
  display: flex;
}

.j-sb {
  justify-content: center;
  align-items: center;
}

.swap-signin-type {
  text-align: center;
  color: var(--dark-text);
  font-size: 20px;

  p {
    margin: 0;
    opacity: 0.6;
  }
}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 2px solid #329044;
  height: 30px;
}

.signin-title {
  margin: 0px;
  margin-bottom: 15px;
  margin-top: 0;
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  color: var(--green);
}

.signin-logo {
  max-width: 150px;
  height: auto;
  margin-bottom: 30px;
}

button:not(.simple-btn) {
  appearance: none;
  -webkit-appearance: none;
  border: 0;
  background-color: var(--dark-grey);
  color: white;
  font-size: 22px;
  border-radius: 5px;
  padding: 15px 15px;
  cursor: pointer;
  min-width: 200px;
  width: 100%;
  font-weight: 600;
  transition: 0.2s all ease-in-out;

  &.light-bg {
    background: var(--light-grey-button);
    color: var(--dark-grey);
    transition: 0.2s all ease-in-out;
  }

  &:hover {
    background-color: var(--green);
    color: white;
  }

  &.mb-60 {
    margin-top: 0px;
    margin-bottom: 60px;
  }

  &.mb-30 {
    margin-top: 0px;
    margin-bottom: 30px;
  }

  &.mb-15 {
    margin-top: 0px;
    margin-bottom: 15px;
  }

  &.mb-10 {
    margin-top: 0px;
    margin-bottom: 10px;
  }
}

.simple-btn {
  border: none;
  background-color: transparent;
  color: var(--green);
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s all ease-in-out;
  font-size: 20px;

  &:hover {
    text-decoration: underline;
  }
}

input {
  padding: 15px 15px;
  border-radius: 5px;
  border: 2px solid var(--light-grey-button);
  color: var(--dark-text);
  outline: none;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 15px;
  font-size: 20px;
  background: white;

  &:disabled {
    background: var(--light-grey);
  }
}

.signin-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error-message {
  color: #329044;
  padding: 0;
  font-weight: bold;
  margin: 0 0 5px !important;
}

.home {
  background-color: white;
}

.home-header {
  display: flex;
  gap: 20px;
  padding: 20px;
  align-content: center;
  justify-content: space-between;
  background-color: #CDFF51;

  img {
    width: 120px;
    margin: 0;
  }

  h1 {
    margin: 0;
  }
}

.user-settings-image {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--green);
  font-weight: bold;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 20px;
  padding: 20px;
  background: var(--light-gray);

  button {
    min-width: none;
    width: 100%;
  }
}

.stores-page,
.upload-page,
.user-settings {
  height: 600px;

  .stores-header {
    display: flex;
    gap: 20px;
    align-content: center;
    justify-content: space-between;
    position: relative;
    z-index: 20;
  }
}

.stores-inner {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stores-list {
  list-style-type: none;
  padding: 20px 0;
  overflow-y: scroll;
  margin: 0;
  margin-bottom: 15px;
  padding-right: 0 !important;

  &.stores-list-set {
    padding: 20px 0;
    max-height: none;
    border-bottom: none;
  }

  &.stores-list-selected {
    padding: 0;
  }
}

.stores-list li,
.store-dropdown li,
.dropdown-header li {
  margin-right: auto;
  text-align: left;
  margin-bottom: 10px;
  cursor: pointer;
  background: var(--light-grey-button);
  font-size: 14px;
  color: grey;
  list-style: none;
  margin-bottom: 0;
  max-width: 300px;

  b {
    font-weight: 800px;
    font-size: 22px;
    color: var(--dark-text);
  }

  .address {
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    color: var(--dark-text);
    opacity: 0.7;
  }
}

.dropdown-header {
  position: relative;
  z-index: 25;
  background: var(--light-gray);

  .store-item {
    background: #eef3d9;
  }
}

.dropdown-arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #329044;
  transform: scale(2);
  margin-right: 20px;
  transition: 0.2s;

  &.open {
    transform: scale(2) rotate(180deg);
  }
}

.store-selection-dropdown {
  position: relative;

  .dropdown-wrapper {
    overflow: hidden;

    &.open {
      .store-dropdown {
        grid-template-rows: 1fr;
        top: 100%;
      }
    }
  }

  .store-dropdown {
    position: absolute;
    top: -1000%;
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid #329044;
    border-top: none;
    border-radius: 0 0 10px 10px;
    z-index: 1;
    display: grid;
    grid-template-rows: 0fr;
    transition: 0.2s;
    max-height: 300px;
    overflow-y: scroll;
  }
}

.store-item.empty {
  padding: 10px;
  text-align: center;
  justify-content: center;
}

.store-item {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  transition: 0.1s;
  background-color: var(--light-grey-button);
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 5px;

  * {
    background: var(--light-grey-button);
    transition: 0.1s !important;
  }

  &:hover {
    background-color: var(--green);
    color: white;

    * {
      background: var(--green);
    }
  }

  .location-img {
    width: 45px;
    height: 45px;
    fill: var(--green);
  }

  .cancel-img {
    width: 25px;
    height: 25px;
    cursor: pointer;
    transform: rotate(35deg);
  }

  .add-btn {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;

    &::before {
      content: '';
      height: 3px;
      width: 25px;
      background: var(--dark-grey);
      position: absolute;
      top: 50%;
      right: 5px;
      z-index: 1;
      transform: translateY(-50%);
    }

    &::after {
      content: '';
      height: 25px;
      width: 3px;
      background: var(--dark-grey);
      position: absolute;
      top: 50%;
      left: 16px;
      z-index: 1;
      transform: translateY(-50%);
    }
  }

  &.selected {
    background: var(--green);

    * {
      background: var(--green);
    }

    .add-btn {
      transform: rotate(-45deg);
    }
  }
}

.your-stores,
.your-stores-list {
  h2 {
    margin: 0;
  }

  select {
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    color: var(--dark-text);
    border: 2px solid var(--light-grey-button);
    border-radius: 10px;
    background-color: white;
    margin-bottom: 15px;
    font-size: 20px;
    color: var(--dark-text);
  }
}

.set-your-stores {
  height: 0px;
  overflow: hidden;
  transition: 0.2s all ease-in-out;
  background: var(--light-gray);
  z-index: 2;
  display: flex;
  flex-direction: column;

  &.open {
    height: 510px;
  }
}

.instructions {
  h3 {
    margin: 0;
    margin-bottom: 5px;
  }

  p {
    margin: 0;
    opacity: 0.7;
  }
}

.set-your-stores-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-right: 30px;
  padding-bottom: 0px;

  h2 {
    margin: 0;
  }
}

.close-btn {
  width: 30px;
  height: 30px;
  position: relative;
  transform: rotate(45deg);
  cursor: pointer;

  &::before {
    content: '';
    height: 3px;
    width: 25px;
    background: #329044;
    position: absolute;
    top: 50%;
    right: 1px;
    z-index: 1;
    transform: translateY(-50%);
  }

  &::after {
    content: '';
    height: 25px;
    width: 3px;
    background: #329044;
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
  }
}

.add-stores-btn {
  cursor: pointer;
  padding: 15px 40px;
  padding-left: 60px;
  background: #329044;
  color: #CDFF51;
  transition: 0.2s all ease-in-out;
  position: relative;
  font-weight: bold;

  &::before {
    content: '';
    height: 3px;
    width: 25px;
    background: #CDFF51;
    position: absolute;
    top: 50%;
    left: 20px;
    z-index: 1;
    transform: translateY(-50%);
  }

  &::after {
    content: '';
    height: 25px;
    width: 3px;
    background: #CDFF51;
    position: absolute;
    top: 50%;
    left: 31.5px;
    z-index: 1;
    transform: translateY(-50%);
  }

  &:hover {
    color: white;
  }
}

.dropzone-wrapper {
  background: var(--dark-grey);
  border-radius: 10px;
  margin-bottom: 10px;

  .dropzone {
    cursor: pointer;
  }

  * {
    background: var(--dark-grey);
    transition: 0.2s all ease-in-out;
  }

  &:hover {
    * {
      background: var(--green);
    }
  }
}

.loading-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;

  .loading {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid var(--dark-grey);
    border-top-color: var(--light-grey-button);
    animation: rotate 1.5s linear infinite;
  }

  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }
}

.user-settings-body-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  border-bottom: 3px solid rgba(211, 211, 211, 0.573);

  h3 {
    margin: 0;
  }

  .close-btn {
    margin-right: 10px;
  }
}

.settings-header {
  opacity: 0.9;
  margin-bottom: 5px;
}

.settings-brand {
  font-size: 1.2em;
  color: #000;
  padding: 20px;
  padding-bottom: 0;
  margin: 0;
}

.settings-name {
  font-size: 1.4em;
  font-weight: bold;
  color: #000;
  padding: 20px;
  padding-bottom: 5px;
  margin: 0;
}

.settings-email {
  color: #000;
  padding: 0 20px;
  margin: 0;
}

.admin-box {
  padding: 7px 10px;
  background: #CDFF51;
  border-radius: 8px;
  margin-left: 20px;
  font-size: 0.8em;
  width: max-content;
  margin-top: 10px;
}

.actions-bar-wrapper {
  background: #eef3d9;
  margin-top: auto;

  .actions-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .edit-btn {
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .sign-out-btn {
    padding: 10px 20px;
    font-weight: bold;
    background: #329044;
    color: white;
    cursor: pointer;

    &:hover {
      box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.1);
    }
  }
}

.opportunities-wrapper {
  background-color: #329044;
  border-radius: 50px;
  display: flex;
  cursor: pointer;
  transition: 0.2s;
  margin: 20px;

  &:hover {
    background-color: #CDFF51;

    .opportunities-count {
      background-color: #329044;
      color: #CDFF51;
    }

    .opportunities-header {
      color: #329044;
    }

    .right-arrow {
      border-left: 10px solid #329044;
    }
  }
}

.opportunities-count {
  color: #329044;
  background-color: #CDFF51;
  font-weight: bold;
  font-size: 1.2em;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  padding: 5px;
  transition: 0.2s;
}

.right-arrow {
  margin-left: auto;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid rgba(0, 0, 0, 0.1);
  margin-right: 10px;
  transition: 0.2s;
}

.product-opportunities-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .opportunities-header {
    margin-bottom: 0;
    color: var(--green);
    font-weight: bold;
  }
}

.product-opportunities {
  margin-bottom: 30px;
}

.back-btn {
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  color: #eef3d9;
  transition: 0.2s;
  background-color: #329044;
  border-radius: 20px;
  transition: 0.2s;
  width: max-content;
  display: flex;
  align-items: center;


  &:hover {
    background-color: #CDFF51;
    color: #329044;

    .left-arrow {
      border-right: 10px solid #329044;
    }
  }

  .left-arrow {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid rgba(0, 0, 0, 0.1);
    margin-right: 20px;
  }
}

.opportunities-list {}

.opportunity-item {
  background-color: var(--light-grey-button);
  border-radius: 10px;
  padding: 20px;
  font-size: 0.9em;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;

  * {
    background-color: var(--light-grey-button);
  }

  .opportunity-name {
    font-weight: bold;
    color: var(--dark-text);
  }

  .product-info {
    font-size: 0.8em;
    margin-bottom: 15px;
    text-transform: uppercase;
  }

  .opportunity-prices {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .opportunity-price {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 3px;
      font-size: 22px;
    }

    .low-opacity {
      opacity: 0.7;
      font-size: 0.6em;
      text-transform: uppercase;
    }
  }
}

.no-bold {
  font-weight: normal;
}

.product-opportunities-footer {
  display: flex;
  justify-content: space-between;
  background-color: #eef3d9;

  .last-upload {
    padding: 10px;
    color: gray;
    font-size: 0.6em;
  }

  .upload-btn-wrapper {
    color: #CDFF51;
    background-color: #329044;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    font-size: 0.8em;
  }
}